@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
}
main{
    margin: auto;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.1;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
    font-family: 'Lato';
    background-color: #f9f9f9;
}
.spaceOffers{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

footer{
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0 0 10px 10px;
    background-color: #e0e0e0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
  }
button{
    background-color: #529c3f;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    padding:12px;
}
.offer{
    background-color: #2575e8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    line-height: 0.2;
    padding:12px;
    box-sizing: border-box;
}
.initial-text{
    color: black;
    font-weight: 600;
    margin-bottom: 0;
    font-style: italic;
    font-size: 16px;
    text-align: center;
}